name: Auto Deploy

# 触发条件：当 main 分支收到 push 时
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    # 1. 这里不需要拉取代码，因为我们是去服务器上拉取
    
    # 2. 使用 SSH 远程连接服务器并执行命令
    - name: Remote SSH Commands
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        # 执行的命令
        script: |
          # 进入项目目录 (请修改为你真实的目录路径)
          cd /home/Staff-assessment-system
          git pull origin main
          
          # === 【新增步骤】 ===
          # 先强制停止并移除旧容器
          # 这能解决“找不到旧镜像”导致的交互式卡死问题
          docker-compose down
          
          # 启动新容器
          docker-compose build --no-cache
          
          # 清理无用镜像
          docker image prune -f
          echo "=== 更新完成！ ==="
          